<!DOCTYPE html>
<html lang="en">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.5.0/css/bootstrap.min.css">

<body>

  <nav class="navbar">
    <div class="logo ms-2">
      <img src="../../../assets/logo/logo_1.png" alt="Logo" />
    </div>
    <div class="buttons">
        <i class="fa-solid fa-square-parking btn me-2" data-bs-toggle="modal" data-bs-target="#addReservationModal"></i>
    </div>
  </nav>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <div class="card-group">
          <div class="card mb-3 rounded" *ngFor="let spot of parkingSpots.slice(0, 4); let i = index" [ngClass]="spot ? 'checked' : 'unchecked'" (click)="toggleParkingSpotState(i)">
            <div class="card-body d-flex align-items-center justify-content-center">
              A{{ i + 1 }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card-group">
          <div class="card mb-3 rounded" *ngFor="let spot of parkingSpots.slice(4, 8); let i = index" [ngClass]="spot ? 'checked' : 'unchecked'" (click)="toggleParkingSpotState(i + 4)">
            <div class="card-body d-flex align-items-center justify-content-center">
              B{{ i + 5 }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <div class="card-group">
          <div class="card mb-3 rounded" *ngFor="let spot of parkingSpots.slice(8, 12); let i = index" [ngClass]="spot ? 'checked' : 'unchecked'" (click)="toggleParkingSpotState(i + 8)">
            <div class="card-body d-flex align-items-center justify-content-center">
              C{{ i + 1 }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card-group">
          <div class="card mb-3 rounded" *ngFor="let spot of parkingSpots.slice(12, 16); let i = index" [ngClass]="spot ? 'checked' : 'unchecked'" (click)="toggleParkingSpotState(i + 12)">
            <div class="card-body d-flex align-items-center justify-content-center">
              D{{ i + 5 }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.5.0/js/bootstrap.bundle.min.js"></script>
</body>

<!-- Add Reservation Modal -->
<div class="modal fade" id="addReservationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content reservation-form">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Reserve Now</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              Reserve one parking spot.
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn reservation-form-btn" (click)="onAddReservation()">Place Reservation</button>
          </div>
      </div>
  </div>
</div>




<!-- <div class="container mt-5">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let spot of parkingSpots; let i = index">
        <div class="card mb-3 rounded" [ngClass]="spot ? 'checked' : 'unchecked'" (click)="toggleParkingSpotState(i)">
          <div class="card-body d-flex align-items-center justify-content-center">
            Spot {{ i + 1 }}
          </div>
        </div>
      </div>
    </div>
  </div> -->